h1{
    font-family: 'Indie Flower', cursive;
    font-size: 100px;
   color: rgb(43, 235, 43);
   text-align: center;
   letter-spacing: 6px;
   text-shadow: -1px 0 rgb(50, 11, 221), 0 9px black, 6px 0 black, 0 -1px black;
}
h2{
    text-align: center;
    font-size: 60px;
    font-family: 'Balsamiq Sans', cursive;
    color:rgb(212, 0, 255);
    animation-name: bounceIn;
  animation-duration: 3s;
  animation-iteration-count: 1.2;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes bounceIn {
    from {
      transform: scale(-1.2);
      opacity: 0;
    }
  
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
  
    to {
      transform: scale(1);
    }
  }

#modal-content{
    text-align: center;
    font-size: 60px;
    font-family: 'Rubik Beastly', cursive;
    transform: scale(0.9, 1) rotatey(-10deg) translatey(0px);
    animation: 2.2s scaling cubic-bezier(0.45, 0, 0.55, 1) infinite;
    text-shadow: 0 0 #e8332e, 0 0 #fc9e05, 0 0 #891696;
    transform-origin: 50% 100%;
    color: #fff;
    position: relative;
    top: 10%;
    transform-style: preserve-3d;
    margin-right: 4px;
    /* @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: 140ms * $i;
      }
    } */
}

@keyframes scaling {
    20% {
      text-shadow: 0px 0 #e8332e, 0px 0 #fc9e05, 0px 0 #891696;
      transform: scale(0.9, 1) rotatey(-10deg);
    }
    40% {
      transform: scale(0.9, 2) translatey(16px);
      text-shadow: -10px 0px #e8332e, -20px 0 #fc9e05, -30px 0 #891696;
    }
    60% {
      transform: scale(0.9, 1) rotatey(-5deg);
      text-shadow: 0px 0 #e8332e, 0px 0 #fc9e05, 0px 0 #891696;
    }
    80% {
      transform: scale(0.9, 2) translatey(16px);
      text-shadow: 10px 0px #e8332e, 20px 0 #fc9e05, 30px 0 #891696;
    }
  }
  @keyframes jump {
    20% {
      transform: translatey(0) scale(0);
      opacity: 0;
    }
    40% {
      transform: translatey(-50px) scale(1);
      opacity: 1;
    }
    60% {
      transform: translatey(0) scale(0);
      opacity: 0;
    }
    80% {
      transform: translatey(-50px) scale(1);
      opacity: 1;
    }
  }

#word-form{
    align-items: center;
  justify-content: center;
    display: flex;
  flex-wrap: nowrap;
}

#input-word{
    border-radius: 50px;
    padding: 20px 20px;
    width: 50vh;
    font-size: 34px;
    font-family: 'Dongle', sans-serif;
}

#submit-word{
    border-radius: 50px;
    padding: 20px 20px;
    background-color: rgb(43, 235, 43);
    font-size: 25px;
    font-family: 'Dongle', sans-serif;
}

#word-list li{
    text-align: center;
    list-style-type: none;
    font-size: 50px;
    font-family: 'Dongle', sans-serif;
}

